/*estilo do ficheiro como um todo */
*{ 
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
/*zona do body */


/* Regras de quando e no pC*/
@media (min-width: 700px){
    /*zona do container */
    body{
        background-image: url("fundo3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
#container {
    display: flex;
    flex-direction: column;
    
    padding: 10px 35px 20px 35px;
    background-color: rgb(255,255,255,0.9);
    color: black;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    align-items: left;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 10px;
  }
  /* localização do formulario*/
body .forma {
    margin-top: 25px;
    align-items: center;


}
/*localização da imagem de logotipo */
.logo{
    align-items:center;
}
/*estilo da tabela */
table {

    width: 200px;
    margin-left: 500px;
    margin-top: -295px;
    text-align: center;
   background-color: rgba(165, 205, 116, 0.7);
}

table, th, td {
    border: 1px solid black;
}
th{
    height: 50px;
}
body  .cb {
    margin-left: 150px;
    margin-top: 20px;
}
body  .cb2 {
    margin-left: 200px;
    margin-top: -145px;
}
.boxes{
    margin-left: 520px;
    margin-top: -250px;
   }
   .tab{
    margin-top: 100px;
   }
} 

/*Regras para quando e telemovel*/
@media (max-width:1000px) {
    body{
        background-image: url("fundo3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 20px 20px 10px;
    }
    /*zona do container */
#container {
    display: flex;
    flex-direction: column;
    
    padding: 50px 50px 70px 35px;
    background-color: rgb(255,255,255,0.9);
    color: black;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    align-items: center;
    width: 75%;
    height: 85%;
    border-radius: 10px;
    margin-left: 15%;
    margin-top: 10px;
  }
  /* localização do formulario*/
body .forma {
    margin-top: 370px;
    align-items: center;


}
/*localização da imagem de logotipo */
.logo{
    margin-left: -100px;
}
.linha{
    margin-top: 50px;
}
/*estilo da tabela */
table {

    width: 250px;
    margin-left: -200px;
    margin-top: -130px;
    text-align: center;
   background-color: rgba(165, 205, 116, 0.7);
}

table, th, td {
    border: 1px solid black;
}
th{
    height: 50px;
}

body  .cb {
    margin-left: 30px;
    margin-top: -165px;
}



body  .cb2 {
    margin-left: 120px;
    margin-top: -500px;
   
}
.boxes {
    
  margin-left: 300px;
  margin-top: -420px;
       
}
.tab{
    margin-top: 525px;
   
   }

}
/*estilo do botão */
#mover {
    border: 10px solid  rgba(165, 205, 116, 0.975);
  background-color:  rgba(165, 205, 116, 0.975);
  color: rgb(7, 6, 6);
  cursor: pointer;
width:100px;
height: 50px;
  justify-self: end;

}
#mover:hover {
    background-color:rgb(150, 190, 100);
    border: 10px solid rgb(150, 190, 100);
    color: white;
  }
/*localização das checkboxes */


